<form action="" method="post">
    <h1>Electronic Category</h1>
    <h3>Number of views</h3>
{% for value in number_of_rows1 %}
{{value}}
{% endfor %}
</form>
<form action="" method="post">
    <h1>Item Pets Category</h1>
    <h3>Number of views</h3>
{% for value in number_of_rows2 %}
{{value}}
{% endfor %}
</form>

<form action="" method="post">
    <h1>Men's Fashion Category</h1>
    <h3>Number of views</h3>
{% for value in number_of_rows3 %}
{{value}}
{% endfor %}
</form>

<form action="" method="post">}
    <h1>Videogames Category</h1>
    <h3>Number of views</h3>
{% for value in number_of_rows4 %}
{{value}}
{% endfor %}
</form>

<form action="" method="post">
    <h1>Women's Fashion Category</h1>
    <h3>Number of views</h3>
{% for value in number_of_rows5 %}
{{value}}
{% endfor %}
</form>
