{% for value in data %}
<form action="{{url_for('editing_profile')}}" method="post">
    id: 
    <input type="text" name="id_user" id="id_user" value="{{value[0]}}" disabled>
    Username: 
    <input type="text" name="username" id="username" value="{{value[1]}}"><br>----------<br>
    Name: 
    <input type="text" name="name" id="name" value="{{value[2]}}"><br>----------<br>
    Last Name: 
    <input type="text" name="last_name" id="last_name" value="{{value[3]}}"><br>----------<br>
    Gmail: 
    <input type="text" name="gmail" id="gmail" value="{{value[4]}}"><br>----------<br>
    Password: 
    <input type="password" name="password" id="password" value="{{value[5]}}"><br>----------<br>
    Age: 
    <input type="text" name="age" id="age" value="{{value[6]}}"><br>----------<br>
    Birthday: 
    <input type="text" name="birthday" id="birthday" value="{{value[7]}}"><br>----------<br>
    Gender: 
    <input type="text" name="gender" id="gender" value="{{value[8]}}"><br>----------<br>
    Adress: 
    <input type="text" name="adress" id="adress" value="{{value[9]}}"><br>----------<br>
    Tel: 
    <input type="text" name="tel" id="tel" value="{{value[10]}}"><br>----------<br>
    Mobile Phone: 
    <input type="text" name="mobile_phone" id="mobile_phone" value="{{value[11]}}"><br>----------<br>
    <button type="submit">Edit</button>
</form>
{% endfor %}