{% extends './layout.html' %}

{% block Title %} Home {% endblock Title %}

{% block CSS %}

{% endblock %}

{% block Body %}

<h1> Bienvenido {{username}}</h1>
<a href=" {{url_for('logout')}} "> Log Out </a>
<br>
<a href="{{url_for('electronic')}}">Electronic</a>
<a href="{{url_for('item_pets')}}">Item Pets</a>
<a href="{{url_for('womens_fashion')}}">Women's Fashion</a>
<a href="{{url_for('mens_fashion')}}">Men's Fashion</a>
<a href="{{url_for('videogames')}}">Video Games</a>

{% for value in value %}

    {{value[0]}}
    {{value[1]}}

{% endfor %}

{% endblock %}