{% for value in data %}
    ID: {{value[0]}}<br>----------<br>
    Username: {{value[1]}}<br>----------<br>
    Name: {{value[2]}}<br>----------<br>
    Last Name: {{value[3]}}<br>----------<br>
    Gmail: {{value[4]}}<br>----------<br>
    Age: {{value[5]}}<br>----------<br>
    Birthday: {{value[6]}}<br>----------<br>
    Gender: {{value[7]}}<br>----------<br>
    Adress: {{value[8]}}<br>----------<br>
    Tel: {{value[9]}}<br>----------<br>
    Mobile Phone: {{value[10]}}<br>----------<br>
{% endfor %}
